.dart_tool/
.idea/
.metadata
.packages
.flutter-plugins
.flutter-plugins-dependencies
*.iml
build/
coverage/

android/local.properties
android/.gradle/
android/.kotlin/
android/app/build/

windows/flutter/ephemeral/
windows/runner/Debug/
windows/runner/Release/
